@mixin grid($cols, $mgn) {
  float: left;
  width: ((100% - (($cols - 1) * $mgn)) / $cols);
  margin-right: $mgn;
  margin-bottom: $mgn;
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}

@mixin mQ($args...) {
  @if length($args) == 1 {
    @media screen and (max-width: nth($args, 1)) {
      @content;
    }
  }
  @if length($args) == 2 {
    @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)) {
      @content;
    }
  }
}
